<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5" style="max-width: 400px;">
    <div class="card shadow">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">🔐 Acesso ao Sistema</h3>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_username" class="form-label">Usuário</label>
                    <input type="text" name="username" autofocus required class="form-control" id="id_username">
                </div>
                <div class="mb-3">
                    <label for="id_password" class="form-label">Senha</label>
                    <input type="password" name="password" required class="form-control" id="id_password">
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </form>
            {% if form.errors %}
                <div class="alert alert-danger mt-3">
                    Usuário ou senha inválidos.
                </div>
            {% endif %}
        </div>
    </div>
</div>

</body>
</html>
